.btn {
  padding: .25rem .5rem;
  font-size: 0.75rem;
}

.navbar-item {
  padding-bottom: calc(.5rem + 3px);
}

.navbar-item.is-active {
  padding-bottom: .5rem;
  border-bottom: 3px solid #0a0a0a;
}

.card .tag {
  margin-left: 10px;
}

.card-footer {
  border-top: 1px solid #dbdbdb;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.card-footer-item {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.75rem;
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid #dbdbdb;
}

.maps {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer {
  padding: 3rem 1.5rem;
}

.card img {
  width: 100%;
}