<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-fifth">
        <ul class="menu content is-small">
          <li><a href="/">Home</a></li>
          <li><a href="about.html">Over Atlas Novus</a></li>
          <li><a href="make-your-own.html">Eigen kaarten maken</a></li>
          <li><a href="sources.html">Bronnen</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="column is-two-fifths">
        <div class="content has-text-centered is-small">
          <p>
            <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">Atlas Novus</span> van <a xmlns:cc="http://creativecommons.org/ns#" href="https://guushoekman.com" property="cc:attributionName" rel="cc:attributionURL">Guus Hoekman</a> is in licentie gegeven volgens een <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.nl">Creative Commons Naamsvermelding-GelijkDelen 4.0 Internationaal-licentie</a>.
          </p>
          <a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/deed.nl"><img alt="Creative Commons-Licentie" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>